
  <%- include('partials/header') %>
  <div class="files">
    <% files.forEach(file => { %>
      <%- include('partials/file', file) %>
    <% }) %>
  </div>
    <%- include('partials/footer') %>